name: npm-publish

on:
  push:
    tags:
      - 'v*'
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: | 
        npm install -g pnpm
        pnpm install

    - name: Build
      run: npm run build
      env:
        NODE_OPTIONS: --max-old-space-size=4096

    - name: Gen npmrc
      run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> ./dist/.npmrc

    - name: Publish
      run: npm run publish
      env: 
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Cleanup
      run: rm -rf dist
    
    # 设置作业的最大运行时间为 30 分钟
    timeout-minutes: 30
